.g-signin{
 
    margin-left: 15px;
}
.M-sign
{
background-image: url("microsoftlogo.jpg");
padding : 10px;
   
margin-left: 15px;    


}

#zohologo {
    margin-left: 15px;
    width: 160px;
    height: 50px;

}